# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pyenv/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/

# Python cache
*.pyc
*.pyo

# Flask specific
*.log
*.pot

# Environment variables
*.env

# Database
*.db
*.sqlite3

# Editor/IDE specific files
.vscode/
.idea/
*.swp
*.swo
*.swn
*~
*.sublime-project
*.sublime-workspace
.history

# Jupyter Notebooks
.ipynb_checkpoints

# PyCharm
*.idea/
.idea/*

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# pyenv
.python-version

# pytest
.pytest_cache/
.cache/

# Coverage reports
.coverage
*.cover
*.coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc

# Profiling data
*.prof
*.lprof
*.dat
*.d

# Sphinx documentation
docs/_build/

# Temporary files
*.tmp
*.temp

# Logs and other outputs
*.log
*.out

# Custom excludes
db.yml

# Add any other files or directories you want to ignore
session_name.session
.vercel
celerybeat-schedule
backup
root/uploads/
*/migrations/
