{% extends "base.html" %}

{% block title %}Pooler - Settings Page{% endblock %}

{% block info %}
<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Statistics</h6>
        <table class="table mb-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>John</td>
                    <td>Doe</td>
                    <td>jhon@email.com</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mark@email.com</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>jacob@email.com</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-danger"><<</button>
                    <button type="button" class="btn btn-danger"><</button>
                    <button type="button" class="btn btn-danger">1</button>
                    <button type="button" class="btn btn-danger">></button>
                    <button type="button" class="btn btn-danger">>></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Sources</h6>
        <table class="table mb-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Channel Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>John</td>
                    <td>Doe</td>
                    <td>jhon@email.com</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mark@email.com</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>jacob@email.com</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-danger"><<</button>
                    <button type="button" class="btn btn-danger"><</button>
                    <button type="button" class="btn btn-danger">1</button>
                    <button type="button" class="btn btn-danger">></button>
                    <button type="button" class="btn btn-danger">>></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Custom Tab</h6>
        <div class="input-group mb-3">
            <input class="form-control bg-dark" type="file" id="formFile">
        </div>
        <div class="d-flex justify-content-between mb-3">
            <div class="form-floating col-sm-11">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 80px;"></textarea>
                <label for="floatingTextarea">Take instantly from URL (each url on a different row)</label>
            </div>
            <button type="button" class="btn btn-primary m-2">Take</button>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <div class="form-floating col-sm-11">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 80px;"></textarea>
                <label for="floatingTextarea">Take instantly from Telegram (each url on a different row)</label>
            </div>
            <button type="button" class="btn btn-primary m-2">Take</button>
        </div>
    </div>
</div>
<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Telegram Statistics</h6>
        <table class="table mb-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>John</td>
                    <td>Doe</td>
                    <td>jhon@email.com</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mark@email.com</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>jacob@email.com</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-danger"><<</button>
                    <button type="button" class="btn btn-danger"><</button>
                    <button type="button" class="btn btn-danger">1</button>
                    <button type="button" class="btn btn-danger">></button>
                    <button type="button" class="btn btn-danger">>></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">URL Statistics</h6>
        <table class="table mb-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>John</td>
                    <td>Doe</td>
                    <td>jhon@email.com</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mark@email.com</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>jacob@email.com</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-danger"><<</button>
                    <button type="button" class="btn btn-danger"><</button>
                    <button type="button" class="btn btn-danger">1</button>
                    <button type="button" class="btn btn-danger">></button>
                    <button type="button" class="btn btn-danger">>></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Settings</h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckInbox">
            <label class="form-check-label" for="flexCheckInbox">
                Inbox
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckUnknown">
            <label class="form-check-label" for="flexCheckUnknown">
                Unknown
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckValid">
            <label class="form-check-label" for="flexCheckValid">
                Valid
            </label>
        </div>
        <div class="form-check form-check-inline mb-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckSpam">
            <label class="form-check-label" for="flexCheckSpam">
                Spam
            </label>
        </div>
        <h6 class="mb-4">Categories to check this round</h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckInbox1">
            <label class="form-check-label" for="flexCheckInbox1">
                Inbox
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckUnknown2">
            <label class="form-check-label" for="flexCheckUnknown2">
                Unknown
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckValid2">
            <label class="form-check-label" for="flexCheckValid2">
                Valid
            </label>
        </div>
        <div class="form-check form-check-inline mb-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckSpam2">
            <label class="form-check-label" for="flexCheckSpam2">
                Spam
            </label>
        </div>
        <div class="d-flex">
            <div class="form-floating mb-3 col-sm-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="Pause every X SMTP">
                <label for="floatingInput">Pause every X SMTP</label>
            </div>
            <div class="form-floating mb-3 col-sm-3 ms-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="Pause every X IMAP">
                <label for="floatingInput">Pause every X IMAP</label>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Sources</h6>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 150px;"></textarea>
            <label for="floatingTextarea">SMTP fetch urls</label>
        </div>
        <div class="form-floating mb-4">
            <input type="number" class="form-control" id="floatingInput" placeholder="SMTP fetch urls reloadtime (seconds)">
            <label for="floatingInput">SMTP fetch urls reloadtime (seconds)</label>
        </div>
        <h6 class="mb-4">Telegram Fetch Settings</h6>
        <div class="d-flex justify-content-between">
            <div class="form-floating mb-3 col-sm-5">
                <input type="number" class="form-control" id="floatingInput" placeholder="Size">
                <label for="floatingInput">Size</label>
            </div>
            <div class="form-floating mb-3 col-sm-6">
                <input type="date" class="form-control" id="floatingInput" placeholder="Date">
                <label for="floatingInput">Date</label>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-floating mb-3 col-sm-8">
                <input type="text" class="form-control" id="floatingInput" placeholder="Date">
                <label for="floatingInput">Filename</label>
            </div>
            <div class="form-floating mb-3 col-sm-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Date">
                <label for="floatingInput">Extension</label>
            </div>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 150px;"></textarea>
            <label for="floatingTextarea">Telegram Channels</label>
        </div>
    </div>
</div>

<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Socks5</h6>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                Don't use (non proxy mode)
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Use primary
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault4">
                Use backup
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
            <label class="form-check-label" for="flexRadioDefault4">
                Fetch from url
            </label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 150px;"></textarea>
            <label for="floatingTextarea">Primary socks5</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 150px;"></textarea>
            <label for="floatingTextarea">Backup socks5</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="socks5 url">
            <label for="floatingInput">socks5 url</label>
        </div>
    </div>
</div>

<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Control Mails</h6>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 150px;"></textarea>
            <label for="floatingTextarea">Control mails</label>
        </div>
    </div>
</div>

<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Report/Debug</h6>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked="">
            <label class="form-check-label" for="flexSwitchCheckDefault">Debug 1</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
            <label class="form-check-label" for="flexSwitchCheckChecked">Debug 2 (display only valid materials)</label>
        </div>
    </div>
</div>
{% endblock info %}